@import '../../../styles/colors.scss';


.recipeItem {
  display: flex;
  max-width: 860px;
  width: 100%;
  min-height: 300px;
  box-shadow: 0 0 6px 0 $post-shadow;
  border-radius: 4px;
  overflow: hidden;

  &__block {
    flex-basis: 350px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 15px;
    min-height: 300px;
    height: 100%;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 700;
    letter-spacing: 0.6px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__descr {
    font-family: 'Roboto Slab';
    font-size: 11px;
    font-weight: 300;
    line-height: 160%;
    margin: 0;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__dishtype {
    font-family: 'Roboto Slab';
    font-size: 10px;
    font-weight: 300;
  }

  &__btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}