@media all and (max-width: 768px) {
  .popularPosts {
    &__content {
      align-items: center;
      justify-content: center;
    }

    &__item {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@media all and (max-width: 576px) {
  .popularPosts {
    background: transparent;
    padding: 0;

    &__title {
      font-size: 20px;
    }
  }
}