@import '../../../styles/colors.scss';

.input {
  outline: none;
  border: none;
  padding-bottom: 6px;
  color: $input-color;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 14px;
  max-width: 400px;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid $input-stroke-color;
  transition: 0.3s;

  &:focus {
    border-color: $additional-dark-color;
  }
}