.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;

  &__title {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    margin-bottom: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}