// colors
$action-btn: #D83019;
$wishlist-btn: #E9B916;
$service-btn-bg: #232323;
$additional-elements-color: #787878;
$additional-dark-color: #5E5E5E;
$header-bg-color: #FCFCFC;
$logo-span-color: #D91111;
$input-bg-color: #EEEEEE;
$input-stroke-color: #E2E2E2;
$input-color: #808080;
$benefit-block-text: #F6F6F6;
$heart-color: #EB3D3D;
$menu-color: #EBEBEB;
$post-shadow: rgba(111, 111, 111, 0.3);